[submodule "vendor/nlohmann-json"]
	path = vendor/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/nameof"]
	path = vendor/nameof
	url = https://github.com/Neargye/nameof.git
