#include <vector>
#include <opencv2/opencv.hpp>
#include "MyRankExtractor.h"

static std::vector<std::vector<uchar>> DATA = {
    {% for d in data %}
        {{ d }},
    {% endfor %}
};

static const std::vector<int> COLS = {
    {% for r in cols %}
        {{ r }},
    {% endfor %}
};

const std::vector<cv::Mat> MyRankExtractor::ICON_TEMPLATES = {
    {% for d in data %}
        cv::Mat(
            static_cast<int>(DATA[{{ loop.index0 }}].size()) / COLS[{{ loop.index0 }}],
            COLS[{{ loop.index0 }}],
            CV_8U,
            DATA[{{ loop.index0 }}].data()),
    {% endfor %}
};

